<html lang="en">

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
</head>

<body>

	<form action="/" method="POST">

  <center>
  <br>
    <style>
    h1 {
        color: black;
        font-size: 80px;
        font-weight: 500;
        font-family: 'Baloo Da 2', cursive;
    }

    p {
        font-size: 30px;
        font-weight: 300;
        font-family: 'Baloo Da 2', cursive;
    }

    br {
        line-height: 50%;
    }
    </style>
                <h1>GurBot<h1>
                  <p>Login!<p>
                  <p>username/email<p>
                  <input type="username" id="username" name="username" placeholder="email/username">
                  <p>password<p>
                  <input type="password" id="password" name="password" placeholder="password">
                  <button id="submit" name="submit">Login</button>

</body>